h1{
    text-align: center;
    color: crimson;
}
div.contenedor{
    position: relative;
    width: 50%;
    top: 10px;
    margin: auto;
    border: 3px dashed greenyellow;
}
div.centro{
    position: absolute;
    top :50%;
    width: 100%;
    text-align: center;
    font-size: 25px;
}
p.imagen{
    position: relative;
    z-index: 1000; 
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
    margin: auto;
}
img{
    position: relative;
    width: 100%;
    opacity: .2;
}

