h1,div,p{
    border: 3px solid blueviolet;
    text-align: center;
    color: cornflowerblue;
    padding: 10px;
    display: block;
}
/*display: none oculta el elmento y el espacio designado*/
h1{
    display: none;
}
/*visibilidad: hidden oculta el elemento pero el espacio continua*/
div{
    visibility: hidden;
}
span{
    display: inline;
    border: 1px solid blue;
}
a{
    display: block;
}
li{
    display: inline;
}
